h1 {
  font-size: 30px;
  font-style: Arial, sans serif;
  color: white;
  text-align: center;
  background-image: url("MLbanner.jpg");
  margin: 40px;
  padding: 50px;

}

#ml{
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
}

#ml:hover {
  opacity: 0.7;
}

.mlbutton{
  font-family: Arial, sans-serif;
  margin: 15px;
  font-weight: bold;
  cursor: pointer;
}
